service: khupass-serverless
frameworkVersion: '2 || 3'

provider:
  name: aws
  region: ap-northeast-2
  runtime: nodejs14.x
  lambdaHashingVersion: '20201221'

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
